/* common shared styles */
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    background-color: #E55473;
    padding: 12px 15px;
    color: #fff;
    border-radius: 5px;
}

/* banner style starts */
.banner-container{
    height: 100vh;
    padding-top: 15px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content{
    width: 500px;
    margin-left: 50px;    
}

.banner-title{
    font-size: 50px;
    font-weight: 900;
    color: #272727;
}

.banner-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.banner-img{
    width: 520px;
    height: 656px;
    margin-right: 50px; 
}
/* banner style ends */

/* Featured Flower style starts */
.featured-flower-container{
    width: 1180px;
    margin: auto;
    padding-top: 50px;
}

.featured-flower-content{
    text-align: center;
}

.featured-flower-title{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
}

.featured-flower-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
    color: rgba(39, 39, 39, 0.60);
}

.featured-flower-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-item, .second-item, .third-item{
    width: 350px;
    height: 400px;
    border-radius: 180px 180px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    position: relative;
}

.first-item-img, .second-item-img, .third-item-img{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.second-item{
    background-color: rgba(5, 151, 160, 0.15);
    margin-left: 20px;
    margin-right: 20px;
}

.third-item{
    background-color: rgba(71, 125, 17, 0.15);
}

.flowers-name{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    margin-top: 20px;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
}
/* Featured Flower style ends */

/* Rare Collection style starts */
.rare-flower-container{
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../Flower Asset/background.png'), linear-gradient(45deg, rgba(161, 133, 39, 0.432), rgba(236, 234, 234, 0.26), rgba(161, 133, 39, 0.432));
}

.rare-flower-title{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
    text-align: center;
}

.rare-flower-content{
    width: 600px;
    text-align: start
}

.rare-flower-name{
    font-size: 50px;
    font-weight: 900;
    color: #272727;
}

.rare-flower-name > span{
    color: #E55473
}

.rare-flower-description{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 20px;
    padding-bottom: 20px;
}

.rare-flower-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.rare-flower{
    width: 280px;
    height: 320px;
    border-radius: 100px 0px 100px ;
    background-color: rgba(84, 138, 23, 0.205);
    box-shadow: 10px 15px 10px rgba(161, 132, 39, 0.336);
    position: relative;
}

.rare-flower-img{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 20px;
}
/* Rare Collection style ends */

/* Service style starts */
.service-container{
    width: 1080px;
    margin: auto;
    padding: 70px 10px;
    margin-top: 80px;
    background-color: rgba(39, 39, 39, 0.05);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}
/* Service style ends */

/* Hot Deal style starts */
.deal-container{
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.deal-content{
    width: 600px;
    text-align: center;
    margin-right: 70px;
}

.deal-title{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
}

.deal-title > span{
    color: #E55473;
}

.deal-img{
    width: 300px;
    height: 350px;
}

.deal-description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}
/* Hot Deal style ends */

/* Instagram Media style starts */
.media-container{
    width: 1100px;
    margin: auto;
    padding-top: 80px;
}

.media-content{
    text-align: center;
}

.media-title{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
}

.media-description{    
    margin: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.media-gallery{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.media-img{
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
}
/* Instagram Media style ends */

/* Get Latest Deals style starts */
.latest-deals-container{
    width: 1080px;
    margin: auto;
    margin-top: 80px;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-size: cover;
}

.latest-deals-content{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.latest-deals-title{
    font-size: 30px;
    font-weight: 900;
    color: #272727;
}

.latest-deals-description{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
}

.email{
    border: none;
    width: 500px;
    padding: 12px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}
/* Get Latest Deals style ends */

/* footer style starts */
.Shop-info-container{
    margin-top: 80px;
    text-align: center;
    padding: 80px;
    background-image: url('../Flower Asset/background.png'), linear-gradient(45deg, rgba(167, 33, 98, 0.349), rgba(5, 152, 160, 0.253), rgba(161, 132, 39, 0.336));
}

.shop-title{
    font-size: 30px;
    font-weight: 900;
    color: rgba(10, 97, 102, 0.493);
}

.shop-title > span{
    color: #E55473;
}

.shop-description{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 20px;
    margin-bottom: 40px;
}

.copyright{
    color: rgba(10, 97, 102, 0.616);
}
/* footer style ends */